#content{
    background-color: #fafafa;
}
#wrapper{
    display: flex;
    padding-top: 30px;
}

#gambar{
    padding-left: 70px;
}

#register{
    padding-right: 60px;
    margin-left: 100px;

}

#register h1{
    font-size: 40px;
    font-family: sans-serif;
}

.paragraph1{
    font-size: 18px;
    font-family: sans-serif;
}

.form-input .reg{
    border-radius: 2px;
    padding: 8px 70px 8px 20px;
}
.form-input .reg1{
    border-radius: 2px;
    padding: 8px 158px 8px 20px;
}

.birthday{
    margin-top: 10px ;
    font-size: 20px;
    font-family: sans-serif;
}
.birthday .form-birth{
    border-radius: 2px; 
    padding: 3px 1px 3px 1px;
}
.birthday .form-day{
    border-radius: 2px; 
    padding: 3px 1px 3px 1px;
    width: 40px;
}

#register .paragraph2{
    font-size: 12px;
    width: 400px;
}

.sign-up{
    width: 150px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background-color: #2fa338;
    margin-top: 20px;
}