#header{
    height: 85px;
    display: block;
    background-color: #225cba;
}
#logo{
    font-size: 20px;
    color: aliceblue;
    float: left;
    padding-left: 70px;
    padding-top: 10px;
}
#login{
    float:right;
    width: 370px;
    padding: 10px 60px 0 0;
}

#login table{
    font:normal 12px Tahoma, verdana;
    color: #ffffff;
}

.submit{
    color: #ffffff;
    background-color: #5289e3;
    border: 1px solid #000000;
    border-radius: 2px;
}

.forgot{
    color: #ffffff;
}